@import 'variables';
@import 'breakpoints';

.comment {
  background: $white;
  padding: ($grid-gutter-width / 2);
  margin-bottom: $grid-gutter-width;

  header, footer {
    padding: 0;
  }

  footer {
    font-size: $font-size-sm;

    p {
      padding: 0;
    }
      
    .comment-author-name {
      font-weight: 600;
    }
  }
}
