@import 'variables';
@import 'breakpoints';

#comment-form {
  background: $white;
  padding: ($grid-gutter-width / 2);
  margin-bottom: $grid-gutter-width;

  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-control {
    display: block;
    width: 100%;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $gray-800;
    background-color: $white;
    background-clip: padding-box;
    border: 0;
    border-bottom: 1px solid $gray-500;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    &:focus {
      outline: 0;
      border-bottom-color: $gray-900;
    }
  }

  #notice {
    width: 100%;
    color: $red;
    padding-top: ($grid-gutter-width / 4);
    text-align: center;
  }

  .btn {
    display: inline-block;
    font-weight: $font-weight-normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: $black;
    color: $white;
    border: 1px solid transparent;
    padding: ($grid-gutter-width / 4);
    width: 100%;
    font-size: $font-size-base;
    line-height: $line-height-base;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: $link-hover-color;
    }
  }
}