@function calculateRem($sizeInPx) {
  $remSize: $sizeInPx / 16;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: #{$size}px; // Fallback in px
  font-size: calculateRem($size);
}

@keyframes heartBeat {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
