.box {
  margin: 0 auto;
  width: 100%;
  padding-top: 4rem;
  padding-right: ($grid-gutter-width / 2);
  padding-left: ($grid-gutter-width / 2);

  @include for-tablet-portrait {
    padding-top: 1rem;
  }

  @include for-desktop{
    max-width: 90%;
  }

  .box-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: ($grid-gutter-width / -2);
    margin-left: ($grid-gutter-width / -2);

    .box-col {
      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: ($grid-gutter-width / 2);
      padding-left: ($grid-gutter-width / 2);

      &.sidebar-left {order: 2;}
      &.container {order: 1;}
      &.sidebar-right {order: 3;}

      @include for-tablet-landscape {
        &.sidebar-left {
          flex: 0 0 20%;
          max-width: 20%;
          order: 1;
        }

        &.sidebar-right {
          flex: 0 0 100%;
          max-width: 100%;
        }

        &.container {
          flex: 0 0 80%;
          max-width: 80%;
          order: 2;
        }
      }

      @include for-desktop{
        &.sidebar-right {
          flex: 0 0 20%;
          max-width: 20%;
        }

        &.container {
          flex: 0 0 60%;
          max-width: 60%;

          &.wide {
            flex: 0 0 80%;
            max-width: 80%;
          }
        }
      } 
    }
  }
}


