<footer id="footer">
    <div class="container">
        <p><span class="d-inline-sm">Copyright </span>&copy; Wordplease {% now "Y" %}</p>
        <nav>
            <ul>
                <li>
                    <a href="#" title="Twitter">
                    <span class="fa-stack">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                    </a>
                </li>
                <li>
                    <a href="#" title="Facebook">
                    <span class="fa-stack">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                    </span>
                    </a>
                </li>
                <li>
                    <a href="#" title="Github">
                    <span class="fa-stack">
                        <i class="fas fa-arrow-alt-circle-up fa-stack-2x"></i>
                    </span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>