{% load custom_tags %}
<header id="header">
    <div class="container">
        <h1><a href="/">Wordplease</a></h1>

        <nav id="menuTop">
            <a id="menuBtn" href="#"><i class="fa fa-bars"></i></a>

            <ul>
                <li><a href="./">All</a></li>
                {% get_categories as categories %}
                {% for category in categories %}
                    <li><a href="./?category={{ category.id }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </nav>

        <nav id="menuSearch">
            <ul>
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'login' %}" title="Login"><i class="fa fa-user"></i></a></li>
                    <li><a href="{% url 'signup' %}" title="Register"><i class="fa fa-user-plus"></i></a></li>
                {% else %}
                    <li><a href="{% url 'new_post' %}" title="New Post"><i class="fa fa-plus-square"></i></a></li>
                    <li><a href="{% url 'logout' %}" title="Logout"><i class="fa fa-sign-out-alt"></i></a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header> 