<aside class="box-col sidebar-left">
    <h2>About us</h2>
    <section>
        <article>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur.</p>
        </article>
    </section>

    <h2>Sponsors</h2>
    <section>
        <figure class="ad-img">
            <a href="#sponsor"><img src="https://picsum.photos/300/250/?image=21"
                                    srcset="https://picsum.photos/300/250/?image=21 300w, https://picsum.photos/600/500/?image=21 600w, https://picsum.photos/900/750/?image=21 900w"
                                    alt="300x250 Ad"></a>
        </figure>
    </section>
</aside>