<aside class="box-col sidebar-right">
    <h2>Comments</h2>
    <section id="comments"></section>

    <h2>Anything to add?</h2>
    <section>
        <form id="comment-form" method="POST">
            <div class="form-group">
                <label for="name" class="sr-only">Name</label>
                <input class="form-control" type="text" name="name" id="comment-name" required placeholder="Name">
            </div>
            <div class="form-group">
                <label for="surname" class="sr-only">Surname</label>
                <input class="form-control" type="text" name="surname" id="comment-surname" required
                       placeholder="Surname">
            </div>
            <div class="form-group">
                <label for="email" class="sr-only">Email</label>
                <input class="form-control" type="email" name="email" id="comment-email" required placeholder="Email">
            </div>
            <div class="form-group">
                <label for="title" class="sr-only">title</label>
                <input class="form-control" type="text" name="title" id="comment-title" required placeholder="Title">
            </div>
            <div class="form-group">
                <label for="description" class="sr-only">Description *</label>
                <textarea class="form-control" name="description" id="comment-description" required maxlength="500"
                          placeholder="Max. 500 characters"></textarea>
            </div>
            <button type="submit" class="btn" id="comment-submit">Submit</button>
            <div id="notice"></div>
        </form>
    </section>
</aside>