{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    {% include './partials/head.html' %}
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
</head>
<body>

{% include './partials/header.html' %}

<div id="main" class="box">
    <div class="box-row">

        {% include './partials/sidebar-left.html' %}

        {% block main_body %} {% endblock %}

    </div>
</div>

{% include './partials/footer.html' %}


{% if messages %}
    <hr>
    {% for message in messages %}
        <div class="message {{ message.tags }}">{{ message }}</div>
    {% endfor %}
{% endif %}

</body>
</html>